{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "window": true,
    "node": true
  },

  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "no-param-reassign": [1, { "props": false }],
    "arrow-parens": [2, "as-needed"]
  }
}
